<div id="col_r">
  <div class="col_r_top">
    <div id="block_mess" *ngFor="let message of message">
      <app-block-message [message] ="message"></app-block-message>
    </div>
  </div>
  <div class="col_r_bottom">
    <div class="col_r_bottom_header">Nouveau message:
    </div>
    <div class="col_r_bottom_main">
      <label for="expediteur">De:</label>
      <input type="text" id="expediteur">
      <label for="message">Message</label>
      <textarea id="message"></textarea>
    </div>
    <div class="col_r_footer">
      <input type="submit" value="Valider">
      <input type="submit" value="Annuler">
    </div>
  </div>
</div>
